@charset "UTF-8";

#centro{
    width: 1000px;
    padding-top: 1%;
}

table{
    border: 1px solid black;
    text-align: center;
}

tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

th{
    padding-left: 30px;
    padding-right: 30px;
}

td{
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    background-color: #A245FF;
}

#borda{
    border-right: 1px solid white;
}